body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background: #666699;
}

footer form {
    display: flex;
    align-items: stretch;
}

footer form input {
    flex: 1;
}
main {
    background: #00802b;
    overflow-y: auto;
}